*{
    scroll-behavior: smooth;
    border-radius: 3px;
    /* text-align: center; */
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: linear-gradient(to right ,black,black,gray);
}
header , blockquote{
    text-align: center;
}
img{
    display: block;
    margin: auto;
}
h5{
    text-align: center;
}
#scroll-down{
    margin: 5px;
    display: block;
    text-align: right;
}
ul{
    background-color: whitesmoke;
    background-image: url("https://www.pngkey.com/png/full/74-743991_28-collection-of-bruce-lee-kicking-drawing-bruce.png");
    background-repeat: no-repeat;
    padding: 2px;
}
li{
    margin-left: 20px;
    color:black;

}
strong{
    color: gray;
}